body {
    margin: 0;
    z-index: 1;
    background-image: url(./assets/back.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.nav {
    background-color: black;
    color: white;
    padding: 10px 20px 10px 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab {
    display: flex;
    gap: 70px;
    justify-content: space-between;
    align-items: center;
}

#logo {
    border: 5px dashed white;
    text-align: center;
    font-size: 50px;
    margin: 0;
    font-weight: bolder;
    font-family: cursive;
    padding: inherit;
    min-width: 270px;
}

.tab > li {
    list-style: none;
    text-transform: uppercase;
    padding: 15px;
    font-size: 22px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#tcolor{
    color: goldenrod;
}

.homeC {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
    height: 100%;
    flex-basis: 100%;
}


img{
    margin-top: 10%;
    height: 350px;
    border-radius: 50%;
}

#homeM {
    line-height: 1.5;
    font-size: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
}

#name{
    color:royalblue;
}

#dev{
    color: brown;
}

@media (min-width:319px) and (max-width: 480px) {
    body {
        background-image: none;
        background-color: aliceblue;
        margin: 0;
    }
    
    .tab {
        flex-direction: column;
        gap: 10px;
        justify-content: stretch;
        align-items: center;
        min-height: 100px;
    }
    
    .nav {
        margin: 0;
        width: 100%;
    }
    
    .homeC {
        flex-direction: column;
    }
}

@media (min-width:481px) and (max-width: 750px) {
    body {
        background-image: none;
        background-color: aliceblue;
        margin: 0;
    }
    
    .tab {
        flex-direction: column;
        gap: 10px;
        justify-content: stretch;
        align-items: center;
        min-height: 100px;
    }
    
    .nav {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    
    .homeC {
        flex-direction: column;
        margin-bottom: 50px;
    }
}
