body {
    margin: 0;
    background-image: url(./assets/back.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 15%;
}

.nav {
    background-color: black;
    color: white;
    padding: 30px 20px 5px 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab {
    display: flex;
    gap: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

#logo {
    border: 5px dashed white;
    border-radius: 10px;
    text-align: center;
    font-size: 50px;
    margin: 0;
    font-weight: bolder;
    font-family: 'Pridi', serif;
    padding: 6px;
    min-width: 270px;
}

.tab > li {
    list-style: none;
    text-transform: uppercase;
    padding: 15px;
    font-size: 22px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#tcolor{
    color: goldenrod;
}

.homeC {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5% 0;
    height: 100%;
    flex-basis: 100%;
}


img{
    margin-top: 10%;
    height: 350px;
    border-radius: 50%;
}

#homeM {
    line-height: 1.5;
    font-size: 60px;
    font-family: 'Alice', serif;
    font-weight: bolder;
}

#m2{
    font-size: 30px;
}

#name{
    color:royalblue;
}

#dev{
    color: brown;
}

@media (min-width:319px) and (max-width: 769px) {
    body {
        background-size: 80%;
    }
    
    .tab {
        flex-direction: column;
        gap: 10px;
        justify-content: stretch;
        align-items: center;
        min-height: 100px;
    }
    
    .nav {
        margin: 0;
    }
    
    .homeC {
        flex-direction: column;
    }

    #homeM {
        font-size: 50px;
        padding-left: 10px;
    }

    #m2{
        font-size: 25px;
    }

    img {
        margin: 0;
        height: 300px;
    }
}

@media (min-width:770px) and (max-width: 1075px) {
    .nav{
        width: fit-content;
    }
}

